extends layout

block content
  form(action='/books/add',method='post')
    h1 Book Id: 
    input(type='text',name='id')
    br
    h1 Book Name: 
    input(type='text', name='name')
    br
    h1 Author Name: 
    input(type='text',name='author')
    br
    input(type='submit', value= 'Add Book')  