extends layout

block content
  form(action='/create',method='post')
    h1 First Name: 
    input(type='text' ,name='fname')
    br
    h1 Last Name: 
    input(type='text', name='lname')
    br
    h1  Address: 
    input(type='text', name='add')
    br
    h1   DOB: 
    input(type='Date', name='dob')
    br
    h1   Phone No: 
    input(type='number', name='phone')
    br
    input(type='submit', value= 'Add Book')  
